.navigation__link {
    color: #FFFFFF;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    transition: opacity 0.6s;
    margin: 0 0 0 20px;
}

.navigation__link:first-of-type {
    margin: 0;
}

.navigation__link:hover {
    opacity: 0.6;
    cursor: pointer;
}

.navigation__link_hidden {
    display: none;
}

.navigation__link_active {
    text-decoration: underline;
}

.navigation__account {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0 0 0 50px;  
    text-decoration: none;
    transition: opacity 0.6s;
    margin: 0 0 0 20px;  
}

.navigation__account_active .navigation__account-text{
    text-decoration: underline;
}

.navigation__account:hover {
    opacity: 0.6;
    cursor: pointer;
}

.navigation__account-image {
    background-color: #313131;
    background-image: url(../../images/account_icon.svg);
    border-radius: 6px;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 0 0 13px;
}

.navigation__account-text {
    color: #FFFFFF;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;    
}

.navigation {
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: absolute;
    top: 21px;
    right: calc((100vw - 1140px) / 2);
}

.navigation_opened {
    display: flex;
}

.navigation__burger {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 44px;
    height: 44px;
    transition: opacity 0.5s;
    box-sizing: border-box;
    background-color: #202020;
    padding: 0;
    border: none;
    display: none ;
    background-image: url("../../images/burger.svg");
    position: absolute;
    top: 15px;
    right: 15px;
}

.navigation___burger:hover {
    opacity: 0.6;
    cursor: pointer;
}

.navigation__burger_opened {
    background-color: #202020;
    background-image: url("../../images/burger_opened.svg");
    position: fixed;
}

@media screen and (max-width:1279px) {    
    .navigation {
        right: 50px;
        top: 21px;
    }
}

@media screen and (max-width:1023px) {
    .navigation {
        flex-direction: column;
        right: 0;
        top: 0;
        width: 520px;
        height: 100vh;
        background-color: #272727;
        justify-content: space-between;
        display: none;
        position: fixed;
    }
    .navigation_opened {
        display: flex;
    }
    .navigation__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 159px 0 0;
    }
    .navigation__link_hidden {
        display: flex;
    }
    .navigation__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin: 28px 0 0 0;
    }
    .navigation__account {
        margin: 0 0 92px 0;
    }
    .navigation__burger {
        display: block;
    }
    .navigation__burger_opened {
        background-color: #272727;
    }

}

@media screen and (max-width:767px) {
    .navigation {
        width: 100vw;
    }
}