.header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 74px;
    padding: 0 calc((100vw - 1140px)/2);
    background-color: #202020;
}

.header_landing {
    background-color: #073042;
}

.header_form {
    height: 148px;
    width: 396px;
    margin: 0 auto;
    padding: 0px;
    align-items: flex-end;
}

.header__logo {
    background-image: url(../../images/logo.svg);
    width: 38px;
    height: 38px;
}

.header__logo_form {
    margin-bottom: 40px;
}

.header__navigation {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header__button {
    background-color: #3DDC84;
    color: #000000;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-left: 30px;
    border: none;
    border-radius: 3px;
    height: 32px;
    min-width: 76px;
    transition: opacity 0.6s;
}

.header__button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.header__link {
    color: #FFFFFF;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    transition: opacity 0.6s;
    margin: 0 20px 0 0;
}

.header__link:last-of-type {
    margin: 0;
}

.header__link:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width:1279px) {    
    .header {
        padding: 0 50px;
    }
}

@media screen and (max-width:1023px) {    
    .header {
        padding: 0 30px;
    }
}

@media screen and (max-width:767px) {
    .header {
        padding: 0 14px;
    }
    .header_form {
        width: 260px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .header__logo_form {
        margin-bottom: 50px;
    }
    .header__button {
        font-size: 10px;
        margin-left: 14px;
        height: 26px;
        min-width: 54px;
    }
    .header__link {
        font-size: 10px;        
    }
}