.about-project { 
    margin: 110px auto;
    max-width: 1140px;
}

.about-project__stages { 
    margin: 70px 0 100px; 
    display: flex; 
    flex-direction: row;
}

.about-project__stage { 
    margin: 0 40px 0 0; 
    display: flex; 
    flex-direction: column;
}

.about-project__stage:last-of-type { 
    margin: 0;
}

.about-project__stage-title {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px; 
    color: #FFFFFF;
    margin: 0 0 26px;    
}

.about-project__stage-text {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0; 
}

.about-project__timetable {
    display: grid; 
    grid-template-columns: 1fr 4fr;
    column-gap: 0; 
    row-gap: 14px;
    margin: 0;
}

.about-project__timetable-scale {
    background-color: #303030;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.about-project__timetable-scale_active {
    background-color: #3DDC84;
    color: #000000;
}

.about-project__timetable-agenda {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;   
    text-align: center;   
    color: #8B8B8B;
    margin: 0;
}

@media screen and (max-width:1279px) {    
    .about-project { 
        margin: 110px 50px;
    }
}

@media screen and (max-width:1023px) {    
    .about-project { 
        margin: 90px 50px;
    }
    .about-project__stages { 
        margin: 70px 0 93px; 
    }
    .about-project__stage { 
        margin: 0 30px 0 0;
    }
    .about-project__stage-title {
        margin: 0 0 22px;    
    }
    .about-project__stage-text {
        font-size: 12px;
        line-height: 18px;
    }
    .about-project__timetable-scale {
        line-height: 36px;
    }
}

@media screen and (max-width:767px) {
    .about-project { 
        margin: 70px 14px;
    }
    .about-project__stages { 
        margin: 60px 0; 
        flex-direction: column;
    }
    .about-project__stage { 
        margin: 0 0 56px 0;
        flex-direction: column;
    }
    .about-project__stage-title {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 26px;
    }    
    .about-project__stage-text {
        font-size: 11px;
        line-height: 16px;
    }
    .about-project__timetable {
        grid-template-columns: 1fr 2fr;
        row-gap: 10px;
    }
    .about-project__timetable-scale {
        font-size: 11px;
        line-height: 35px;
    }
    .about-project__timetable-agenda {
        font-size: 11px;
        line-height: 13px;   
    }
}